<!DOCTYPE html>
<html ng-app="movieApp">
  <head>
    <meta charset="utf-8">
    <title>Weekend Challenge 5</title>
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="scripts/client.min.js"></script>
  </head>
  <body>
    <h1>Movie Collection</h1>
      <h2>Search for Movies</h2>
    <div ng-controller="OneController as ctrl">
      <form name="searchForm" ng-submit="ctrl.submit()">
        <input type="text" placeholder="search" ng-model="ctrl.input.title">
        <input type="submit" value="Submit">
      </form>
      <p> <b>Title:</b> {{infoFromApi.response.data.Title}} </p>
      <p> <b>Year:</b> {{infoFromApi.response.data.Year}} </p>
      <p> <b>Genre:</b> {{infoFromApi.response.data.Genre}} </p>
      <p> <b>Director:</b> {{infoFromApi.response.data.Director}} </p>
      <p> <b>Actors:</b> {{infoFromApi.response.data.Actors}} </p>
      <p> <b>Plot:</b> {{infoFromApi.response.data.Plot}} </p>
    </div>
      <h2>Favorites</h2>
    <div ng-controller="TwoController as ctrl">
      <form name="addForm" ng-submit="ctrl.submit()">
      <input type="submit" value="Add to Favorites">
      </form>
    </div>
  </body>
</html>
